
/*Medida para minitablets*/
@media screen and (max-width: 736px) {
  .resume-who h1 {
    font-size: 4rem;
  }
  .resume-who p  {
    font-size: 2.5rem;
  }
  .resume-skills h1 {
    font-size: 4rem;
  }.resume-skills ul {
    font-size: 2.5rem;
  }

  .resume-contact h1 {
    font-size: 4rem;
  }.resume-contact p {
    font-size: 2.5rem;
    margin-bottom: 25%;
  }
}

/*--teléfonos horizontales--*/
@media screen and (max-width: 640px) {
  .resume-who h1 {
    font-size: 3.5rem;
  }
  .resume-who p  {
    font-size: 2.2rem;
  }
  .resume-skills h1 {
    font-size: 3.5rem;
  }.resume-skills ul {
    font-size: 2.2rem;
  }

  .resume-contact h1 {
    font-size: 3.5rem;
  }.resume-contact p {
    font-size: 2.2rem;
    margin-bottom: 25%;
  }

  .navbar-header .navbar-brand {
    font-size: 2.5rem;
  }.navbar-right {
    font-size: 2rem;
  }
}

/*---Smartphone---*/
@media screen and (max-width: 480px) {
  .windows-text h4 {
    font-size: 1.5rem;
  }
  .windows-text h5 {
    font-size: 1rem;
  }

  .resume-who h1 {
    font-size: 2rem;
  }.resume-who p  {
    font-size: 1.5rem;
  }

  .resume-skills h1 {
    font-size: 2rem;
  }.resume-skills ul {
    font-size: 1.5rem;
  }

  .resume-contact h1 {
    font-size: 2rem;
  }.resume-contact p {
    font-size: 1.5rem;
    margin-bottom: 25%;
  }

  .navbar-header .navbar-brand {
    display: none;
  }.navbar-right {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

}

@media screen and (max-width: 320px) {
  .windows-text h4 {
    font-size: 1.5rem;
  }
  .windows-text h5 {
    font-size: 1rem;
  }
}

/*----- Blogs -----*/
/*---srod---*/
@media screen and (max-width: 1024px) {
  .description {
    margin-left: 20%;
  }
  .landing {
    margin-bottom: 20%;
  }
  .slide .text {
    font-size: 2.5rem;
  }
  .plans h2 {
    font-size: 2rem;
    margin-left: 25%;
  }
}

@media screen and (max-width: 640px){
  .slide .text {
    font-size: 2rem;
  }
  .plans h2 {
    font-size: 1.5rem;
    margin-left: 10%;
  }
}

@media screen and (max-width: 480px) {
  .description {
    margin-left: 0;
  }.description h3 {
    font-size: 2rem;
  }.description h4 {
    font-size: 1.5;
  }
  .logo-out {
    display: none;
  }
  .slide .text {
    font-size: 1.2rem;
  }
  .plans h2 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 960px) {
  body {
    overflow-x: hidden;
  }
  .aside {
    margin: 0;
    width: 20%;
    font-size: 14px;
    height: auto;
    max-height: 500px;
  }
  .aside p {
    margin: 5px;
  }
  .light {
    background-position: 0 80px;
    height: 600px;
  }
  .catalog {
    margin: 50px 0 0 0;
  }
  .catalog img {
    width: 90%;
    height: auto;
    margin: 180px auto;
  }
  .next {
    font-size: 5em;
  }
  .prev {
    font-size: 2em;
    top: 68%;
    left: 15.5%;
  }
  svg {
    right: 10%;
    top: 6%;
  }
  /*---Header pages---*/
  .description h2 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 15px;
  }
  .description h3 {
    font-size: 18px;
  }
  .description p a {
    font-size: 18px;
  }
  .description h4 {
    font-size: 14px;
  }
  .description h3,
  .description h4,
  .description p a {
    margin:0;
    padding:0;
  }
  .description {
    text-align: left;
  }
  /*---Icon set---*/
  .icon-set h2,
  .layouts h2 {
    font-size: 22px;
  }
  .icon-main {
    font-size: 72px;
    width: 14%;
  }
  .maker-icon {
    padding: 16px 0 16px 0;
  }
  .layouts,
  .icon-set {
    margin: 20px 0 0 170px;
  }

  .icon-main {
    text-align: center;
  }
  .icons-img {
    text-align: left;
  }
  .navbar-header a.navbar-brand {
    font-size: 22px;
  }
  .navbar-right {
    margin: 0;
  }
  .navbar-right li a {
    font-size: 22px;
  }
}

@media screen and (max-width: 750px) {
  /*---Home---*/
  body {
    overflow-x: hidden;
  }
  .aside {
    margin: 0;
    width: 20%;
    font-size: 14px;
    height: auto;
    max-height: 500px;
  }
  .aside p {
    margin: 5px;
  }
  .light {
    background-position: 0 80px;
    height: 600px;
  }
  .catalog {
    margin: 50px 0 0 0;
  }
  .catalog img {
    width: 90%;
    height: auto;
    margin: 180px auto;
  }
  .next {
    font-size: 4.2em;
  }
  .prev {
    font-size: 2em;
    top: 68%;
    left: 15.5%;
  }
  svg {
    right: 10%;
    top: 6%;
  }
 /*---Header pages---*/
  .description h2 {
    font-size: 42px;
    font-weight: 900;
    margin-bottom: 15px;
  }
  .description h3 {
    font-size: 18px;
  }
  .description p a {
    font-size: 18px;
  }
  .description h4 {
    font-size: 14px;
  }
  .description h3,
  .description h4,
  .description p a {
    margin:0;
    padding:0;
  }
  .description {
    text-align: left;
  }
  /*---Icon set---*/
  .icon-set h2,
  .layouts h2 {
    font-size: 22px;
  }
  .icon-main {
    font-size: 52px;
    width: 14%;
  }
  .maker-icon {
    padding: 15px 0 15px 0;
  }
  .layouts,
  .icon-set {
    margin: 20px 0 0 120px;
  }
  .navbar-header a.navbar-brand {
    font-size: 22px;
    float:left;
  }
  .navbar-right li a {
    font-size: 22px;
    margin:0;
  }
  .navbar-right {
    float: right;
    display: flex;
  }
}


@media screen and (max-width: 650px) {
 /*---Home---*/
  body {
    overflow-x: hidden;
  }
  .aside {
    margin: 0;
    width: 20%;
    font-size: 14px;
    height: auto;
    max-height: 500px;
  }
  .aside p {
    margin: 5px;
  }
  .light {
    background-position: 0 80px;
    height: 600px;
  }
  .catalog {
    margin: 50px 0 0 0;
  }
  .catalog img {
    width: 90%;
    height: auto;
    margin: 180px auto;
  }
  .next {
    font-size: 2.8em;
  }
  .prev {
    font-size: 1.4em;
    top: 71%;
    left: 15.5%;
  }
  svg {
    right: 10%;
    top: 6%;
  }
  /*---Header pages---*/
  .description h2 {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 15px;
  }
  .description h3 {
    font-size: 18px;
  }
  .description p a {
    font-size: 18px;
  }
  .description h4 {
    font-size: 14px;
  }
  .description h3,
  .description h4,
  .description p a {
    margin:0;
    padding:0;
  }
  .description {
    text-align: left;
  }
  /*---Icon set---*/
  .icon-set h2,
  .layouts h2 {
    font-size: 22px;
  }
  .icon-main {
    font-size: 52px;
    width: 15%;
  }
  .maker-icon {
    padding: 15px 0 15px 0;
  }
  .layouts,
  .icon-set {
    margin: 20px 0 0 100px;
  }
  .navbar-header a.navbar-brand {
    font-size: 22px;
    float:left;
  }
  .navbar-right li a {
    font-size: 22px;
    margin:0;
  }
  .navbar-right {
    float: right;
    display: flex;
  }
  /*--Footer--*/
  .right {
    width: 65%;
  }
  .navbar-links {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 568px) {
  /*---Home---*/
  body {
    overflow-x: hidden;
  }
  .catalog-wrapper { 
    display:block; 
  }
  .aside {
    margin: 0;
    width: 100%;
    font-size: 14px;
    height: 70%;
    display: flex;
    justify-content: space-around;
  }
  .aside p {
    margin: 5px;
  }
  .light {
    background-position: 0 80px;
    height: 600px;
  }
  .catalog {
    margin: 50px 0 0 0;
  }
  .catalog img {
    width: 90%;
    height: auto;
    margin: 180px auto;
  }
  .next {
    font-size: 2.8em;
  }
  .prev {
    font-size: 1.4em;
    top: 71%;
    left: 15.5%;
  }
  svg {
    right: 10%;
    top: 6%;
  }
  /*---Header pages---*/
  .description h2 {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 15px;
  }
  .description h3 {
    font-size: 14px;
  }
  .description p a {
    font-size: 12px;
  }
  .description h4 {
    font-size: 12px;
  }
  .description h3,
  .description h4,
  .description p a {
    margin:0;
    padding:0;
  }
  .description {
    text-align: center;
  }
  /*---Icon set---*/
  .icon-set h2,
  .layouts h2 {
    font-size: 18px;
  }
  .icon-main {
    font-size: 48px;
    width: 15%;
  }
  .maker-icon {
    padding: 10px 0 10px 0;
  }
  .layouts,
  .icon-set {
    margin: 20px 0 0 100px;
    position: relative;
  }
  .navbar-header a.navbar-brand {
    font-size: 18px;
    float:left;
  }
  .navbar-right li a {
    font-size: 18px;
    margin:0;
  }
  .navbar-right {
    float: right;
    display: flex;
  }
  /*--Footer--*/
  .right {
    width: 55%;
  }
  .navbar-links {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 415px) {
  /*---Home---*/
  body {
    overflow-x: hidden;
  }
  .catalog-wrapper { 
    display:block; 
  }
  .aside {
    margin: 0;
    width: 100%;
    font-size: 14px;
    height: 70%;
    display: flex;
    justify-content: center;
  }
  .aside p {
    margin: 5px;
  }
  .btn {
    margin: 15px 22px 15px 22px;
  }
  .light {
    background-position: 0 80px;
    height: 600px;
  }
  .catalog {
    margin: 50px 0 0 0;
  }
  .catalog img {
    width: 90%;
    height: auto;
    margin: 180px auto;
  }
  .next {
    font-size: 2.8em;
  }
  .prev {
    font-size: 1.4em;
    top: 71%;
    left: 15.5%;
  }
  svg {
    right: 10%;
    top: 6%;
  }
  /*---Header pages---*/
  .description h2 {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 15px;
  }
  .description h3 {
    font-size: 14px;
  }
  .description p a {
    font-size: 12px;
  }
  .description h4 {
    font-size: 12px;
  }
  .description h3,
  .description h4,
  .description p a {
    margin:0;
    padding:0;
  }
  .description {
    text-align: center;
  }
  /*---Icon set---*/
  .icon-set h2,
  .layouts h2 {
    font-size: 18px;
  }
  .icon-main {
    font-size: 24px;
  }
  .maker-icon {
    padding: 10px 0 10px 0;
  }
  .layouts,
  .icon-set {
    margin: 20px 0 0 0;
    position: relative;
  }
  .icon-main {
    text-align: center;
  }
  .icons-img {
    text-align: center;
  }
  /*--Footer--*/
  .right {
    display: none;
  }
  .navbar-links {
    text-align: center;
    font-size: 1.4em;
  }
}
@media screen and (max-width: 385px) {
  /*---Home---*/
  body {
    overflow-x: hidden;
  }
  .catalog-wrapper { 
    display:block; 
  }
  .aside {
    margin: 0;
    width: 100%;
    font-size: 12px;
    height: 70%;
    display: flex;
    justify-content: center;
  }
  .aside p {
    margin: 5px;
  }
  .btn {
    margin: 15px 20px 15px 20px;
  }
  .light {
    background-position: 0 80px;
    height: 600px;
  }
  .catalog {
    margin: 50px 0 0 0;
  }
  .catalog img {
    width: 90%;
    height: auto;
    margin: 180px auto;
  }
  .next {
    font-size: 2.5em;
  }
  .prev {
    font-size: 1.2em;
    top: 73.5%;
    left: 15.5%;
  }
  svg {
    right: 5%;
    top: 4%;
  }
}

@media screen and (max-width: 360px) {
  /*---Home---*/
  body {
    overflow-x: hidden;
  }
  .catalog-wrapper { 
    display:block; 
  }
  .aside {
    margin: 0;
    width: 100%;
    font-size: 12px;
    height: 70%;
    display: flex;
    justify-content: center;
  }
  .aside p {
    margin: 5px;
  }
  .btn {
    margin: 15px;
  }
  .light {
    background-position: 0 80px;
    height: 600px;
  }
  .catalog {
    margin: 50px 0 0 0;
  }
  .catalog img {
    width: 90%;
    height: auto;
    margin: 180px auto;
  }
  .next {
    font-size: 2.5em;
  }
  .prev {
    font-size: 1.2em;
    top: 73.5%;
    left: 15.5%;
  }
  svg {
    right: 5%;
    top: 4%;
  }
 /*---Header pages---*/
  .description h2 {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 15px;
  }
  .description h3 {
    font-size: 16px;
  }
  .description p a {
    font-size: 16px;
  }
  .description h4 {
    font-size: 14px;
  }
  .description h3,
  .description h4,
  .description p a {
    margin:0;
    padding:0;
  }
  .description {
    text-align: center;
  }
  /*---Icon set---*/
  .icon-set h2,
  .layouts h2 {
    font-size: 18px;
  }
  .icon-main {
    font-size: 28px;
  }
  .maker-icon {
    padding: 5px 0 5px 0;
  }
  .layouts,
  .icon-set {
    margin: 25px 0 0 0;
    position: relative;
  }
}

@media screen and (max-width: 320px) {
  body {
    overflow-x: hidden;
  }
  .landing {
    display: none;
  }
  .layouts {
    margin-bottom: 20%;
  }
  /*---Home---*/
  .catalog-wrapper { 
    display:block; 
  }
  .aside {
    margin: 0;
    width: 100%;
    font-size: 12px;
    height: 70%;
    display: flex;
    justify-content: center;
  }
  .aside p {
    margin: 5px;
  }
  .btn {
    margin: 10px 15px 10px 15px;
  }
  .light {
    background-position: 0 80px;
    height: 600px;
  }
  .catalog {
    margin: 50px 0 0 0;
  }
  .catalog img {
    width: 85%;
    height: auto;
    margin: 180px auto;
  }
  .next {
    font-size: 2.2em;
  }
  .prev {
    font-size: 1.1em;
    top: 75%;
    left: 17.5%;
  }
  svg {
    right: 5%;
    top: 4%;
  }
  .layouts,
  .icon-set {
    margin: 10px;
  }
  /*---Header pages---*/
  .description h2 {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 15px;
  }
  .description h3 {
    font-size: 14px;
  }
  .description p a {
    font-size: 12px;
  }
  .description h4 {
    font-size: 12px;
  }
  .description h3,
  .description h4,
  .description p a {
    margin:0;
    padding:0;
  }
  .description {
    text-align: center;
  }
  /*---Icon set---*/
  .icon-set h2,
  .layouts h2 {
    font-size: 18px;
  }
  .icon-main {
    font-size: 24px;
  }
  .maker-icon {
    padding: 5px 0 5px 0;
  }
  .layouts,
  .icon-set {
    margin: 20px 0 0 0;
    position: relative;
  } 
} 

/*---CafeMacuro---*/

@media screen and (max-width: 966px) {
  .galeria-poster {
    display: none;
  }
  .cafe {
    margin-bottom: 20%;
  }
}
