/*
*--Estilos páginas internas---
*/

/*--- Estilos Generales ---*/
* {
    box-sizing: border-box;
}

body {
  font-size: 16pt;
  overflow-x: hidden;
  -webkit-transition: background .5s; /* Safari */
  transition: background 1s;
  background: #fff;
}

/*---Links---*/
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #11aaff;
}
.logo-out a:link,
.logo-out a:visited,
.logo-out a:hover,
.logo-out a:active {
  text-decoration: none;
  color: #fff;
}

/*---header---*/
/*----logo fixed---*/
.logo-out {
  position: fixed;
  background: linear-gradient(to top, #55ddff 0%, #CC99FF 100%);
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 0.5%;
  margin: 2%;
  color: #fff;
  font-family: 'Varela Round', sans-serif;
  font-size: 3rem;
  font-weight: 600;
}

/*---descripción---*/
.description {
  margin-top: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #666;
  padding: 1%;
  position: relative;} 
  .description h2 {
    font-family: 'Josefin Slab', sans-serif;
    font-size: 4rem;
    font-weight: 600;}
  .description h3 {
    font-size: 2.5rem;
    font-weight: 500;}
  .description h4 {
    font-size: 2rem;
    font-weight: 800;
    color: #aaa;}
  .description p a {
    font-size: 2rem;}

/*---main content---*/
.main-blog {
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
}
/*---logo e iconos---*/
.logo-main {
  width: 70%;
  height: auto;
  margin-top: 0;
  margin-left: 15%;
}
/*---icon set---*/
.layouts,
.icon-set {
  margin: 40px 0 20px 220px;
  position: relative;
}

.layouts h2,
.icon-set  h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  margin-top: 10px;
  margin-right: 100px;
  color: #aaa;
  border-bottom: 1px solid #eee;
}

.icon-set p {
  font-size: 10px;
  color: #aaa;
}

.icon-main {
  width: 16%;
  margin: 2%;
}

.icons-img {
  text-align: center;
}

/*---Layout---*/
.layout-windows {
  margin-top: 20px;
}
.layout-main-lg {
  width: 100%;
  margin: 0 0 40px 10px;
  border: 1px solid #ccc;
}
.layout-main {
  width: 78%;
  margin: 0 0 40px 10px;
  border: 1px solid #ccc;
}

/*---firma blog---*/
.firma-blog {
  margin-top: 25%;
  margin-bottom: 20%;
}
.logo-firma {
  width: 70%;
}

/*---Firma---*/
.landing {
  width: 70%;
  height: auto;
  position: relative;
  background: var(--gradient1);
  font-family: 'Indie Flower', serif;
  font-weight: 900;
  color: #fff;
  margin-left: 21.5%;
  margin-top: 5%;
  margin-bottom: 10%;
}

/*--Animation img--*/
.landing img {
  width: 50%;
  margin-top: 10%;
  margin-left: 25%;
  position: relative;
}

.text {
  bottom: 40%;
  width: 0%;
  text-align: center;
  font-family: 'Indie Flower', sans-serif;
  text-decoration: overline;
  position: absolute;
  font-size: 4.5rem;
  margin-left: 15%;
  overflow: hidden;
  animation-name: imagen,texto;
}

 .text, img {
  -webkit-animation-name: imagen; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: 2; /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
  animation-name: imagen;
  animation-duration: 2s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

.text {
  -webkit-animation-name: texto; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: 2; /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
  animation-name: texto;
  animation-duration: 2s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}
/*--Gastroquirurgica--*/
.gastro-firma {
  margin:10% 8% 10% 18%;
}
.banner-full {
  display: block;
  background: #24A0E8;
  width: 100%;
  height: 30%;
  text-align: center;
}
.banner-full p {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}
.pill {
  display: block;
  margin: auto;
  width: 160px;
  height: auto;
  background: transparent;
  border: 4px solid #fff;
  border-radius: 50px;
  margin-bottom: 10px;
}
#magnifying-glass {
  font-size: 1em;
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border: 0.1em solid #fff;
  position: relative;
  border-radius: 0.35em;
  margin: 15%;
}
#magnifying-glass::before {
  content: "";
  display: inline-block;
  position: absolute;
  right: -0.25em;
  bottom: -0.1em;
  border-width: 0;
  background: #fff;
  width: 0.35em;
  height: 0.08em;
  -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
}
/*--Textos Gastroquirurgica--*/
#titulo {
  color: #fff;
  position: relative;
  animation-name: toRight;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-delay: .5s;
  animation-iteration-count: infinite;
}
#parrafo {
  margin: 5px;
  animation-name: toOne;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-delay: .8s;
  animation-iteration-count: infinite;
}
#lista {
  position: relative;
  animation-name: toTop;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes imagen {
  0%   {left:0%; opacity:.8;}
  100% {left:15%; opacity:1;}
}
/* Standard syntax */
@keyframes imagen {
  0%   {left:0%; opacity:.8;}
  100% {left:15%; opacity:1;}
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes texto {
  0%   {width:0%;}
  100% {width:30%;}
}
/* Standard syntax */
@keyframes texto {
  0%   {width:0%;}
  100% {width:30%;}
}

/*---slides---*/
.slide {
  display: none;
}

#slider {
  max-width: 800px;
  position: relative;
  margin: auto;
}

.prev-sl, .next-sl {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next-sl {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/*--planes--*/
.plans {
  margin: 16%;
}

/*--firma sitio2--*/
/*---galeria poster---*/
.galeria-poster {
  margin-left: 25%;
  margin-top: 10%;
  margin-bottom: 10%;
}
.slider {
  position: relative;
  width: 50%;
}

.gal-post {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  box-shadow: -10px -10px 30px #E3D2E2, 10px 10px 30px #E3D2E2, -10px 10px 30px #E3D2E2, 10px -10px 30px #E3D2E2;
}

.slider:hover .overlay {
  width: 100%;
  left: 0;
}

.gal-title {
  margin-top: 2%;
  font-size: 3rem;
  font-weight: 600;
  font-family: 'Satisfy', serif;
}

.gal-text {
  margin-bottom: 2%;
  font-family: 'Sanchez', sans-serif;
  font-size: 2rem;
}


/* Fading animation */
.fade {
  opacity: 1;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5s;
  animation-name: fade;
  animation-duration: 5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*--animation--*/
@-webkit-keyframes toOne {
  0%   {opacity: .0;}
  20%  {opacity: 1;}
  100% {opacity: 1;}
}
@keyframes toOne {
  0%   {opacity: .0;}
  20%  {opacity: 1;}
  100% {opacity: 1;}
}
@-webkit-keyframes toRight{
  0%   {left: -500px;}
  10%  {left: 0px;}
  100% {left: 0px;}
}
@keyframes toRight{
  0%   {left: -500px;}
  10%  {left: 0px;}
  100% {left: 0px;}
}
@-webkit-keyframes toTop {
  0%   {opacity: 0; top: 200px;}
  20%  {opacity: 1;top: -5px;}
  100% {opacity: 1;top: -5px;}
}
@keyframes toTop {
  0%   {opacity: 0;top: 200px;}
  20%  {opacity: 1;top: -5px;}
  100% {opacity: 1;top: -5px;}
}

/*---4YOUMAKER---*/
.maker-icon {
  cursor: pointer;
  color: #433e5f;
  padding: 40px 0 40px 0;
  border:2px solid #68609c;
  border-radius: 8px;
}

.maker-icon:hover {
  color: #fff;
  border:2px solid #68609c;
  background-color: #433e5f;
}

.spin {
  border: none;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 1000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 1000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-transition: rotate(3600deg);
}

.spin:hover {
  color: #68609c;
  background: transparent;
  border: none;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@-ms-keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@-o-keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

/*---Footer---*/

.navbar-links {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  font-family: 'Josefin Slab', serif;
  font-size: 1.4em;
  font-weight: 900;
  color: #33ccff;
  padding: 5px;
  vertical-align: middle;
  position: fixed;
  width: 100%;
  margin: 0;
  bottom:0;
}
.navbar-links td a {
  color: #33ccff;
  display: inline-block;
}
.right {
  width: 70%;

}
.navbar-links td.right a {
  margin-left: 20px;
}
.navbar-links td.left a {
  color: #aaa;
}

.navbar-links td.left a:hover {
  color: #fff;
}
